* {
    margin: 0;
    padding: 0;
}


body {
    background-image: url(blood.jpg);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: sans-serif;
    height: 130vh;
}

.header {
    position: absolute;
width: 100%;
height: 127.97px;
left: 0px;
top: -21.97px;

background: #272727;
}

.container {
    position: absolute;
    width: 512px;
    height: 623px;
    left: 101.01px;
    top: 271.5px;
}

.contact-box {
    background: #ffffff;
    display: flex;
    opacity: 0.5;
}

.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right {
    flex-basis: 40%;
    padding: 40px;
    background: #000000;
    color: #ffffff;
}

h1 {
    width: 512px;
    height: 40px;
    
    font-family: 'Bebas Kai';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    /* identical to box height, or 111% */
    
    letter-spacing: -0.025em;
    
    color: #000000;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.container p {
    width: 512px;
height: 84px;

/* text-lg/leading-7/font-normal */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 156% */


/* gray/500 */

color: #6B7280;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(83, 83, 83);
    outline: none;
    padding-bottom: 5px;
}

textarea {
    width: 100%;
    border: 1px solid#ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label {
    margin-bottom: 6px;
    display: block;
    color: #000000;
}

button {
    background: #000000;
    width: 100px;
    border: none;
    outline: #fff;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(71, 71, 71, 0.3);
    transform: scale(1.2);
    background-color: transparent;
    border: 2px solid rgb(87, 87, 87);
    color: rgb(80, 80, 80);
    transition: 3s;
    cursor: pointer;
}

.contact-left h3 {
    color: hsl(0, 2%, 51%);
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-right h3 {
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child {
    padding-right: 20px;
    color: #ffffff;
}

tr td {
    padding-top: 20px;
    color: #ffffff;
}

.banner {

    position: absolute;
left: 728px;
right: 66px;
top: 106px;
bottom: 2px;

background: url(banner.png);
}

.fram{
    width: 47.86px;
height: 4px;

background: rgba(0, 0, 0, 0.5);
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.footer {
    /* Footer */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 1400px;
height: 57px;
left: 53px;
top: 1126px;

}

.top-boder {
    /* Top border */


width: 1400px;
height: 1px;

/* gray/200 */

background: #E5E7EB;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.copy-r {
    /* Social links and copyright */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 32px 0px 0px;
gap: 32px;

width: 1400px;
height: 56px;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

.copy-t{

    /* Copyright */


width: 315px;
height: 24px;

/* text-base/leading-6/font-normal */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* gray/400 */

color: #9CA3AF;
}
.link-s {

    /* Footer/Social links */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;

width: 120px;
height: 24px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.social-icon {
    color: #aaa;
}